<a
  [ngStyle]="{
    'background-color': backgroundColor,
    color: color,

  }"
  [href]="
    'https://wa.me/' +
    phone +
    '?text=Hola%20un%20gusto%20conectar%20contigo!%20'
  "
  target="_blank"
  type="button"

  [ngClass]="[
    'btn',
    this.forma,
    'my-2',
    'py-2',
    'px-3',
    boxShadowHover == 'hover' ? 'boxShadowHover' : ''
  ]"

>
  <i class="bi bi-whatsapp"></i>
</a>

<!-- 'box-shadow': boxShadow -->
<!-- [class.boxShadowHover]="boxShadowHover === 'hover'" -->
<!-- class="btn rounded-5 my-2 mx-1 py-2 px-3" -->
