a {
  font-size: 1.3rem;
}

i {
  /* color: var(--blue); */
  font-size: x-large;
}


.boxShadowHover:hover {
  transform: scale(1.1);
  /* font-size: 1.5rem; */
  box-shadow: 2px 4px 4px rgba(136, 135, 135);
  transition: 0.3s  ease;
}